<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="基于 AI 的子宫内膜疾病分型分期评价系统">
    <meta name="author" content="Lianlong">

    <title>上传文件</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href='{{ url_for('static',filename='jumbotron.css') }}' rel="stylesheet">

  </head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">本系统仅供测试
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <h1></h1>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3">
          <h2>文件上传</h2>
            <p> 请选择您的数据集，并点击上传。</p>
            <form action="" enctype='multipart/form-data' method='POST'>
                <input type="file" class="btn btn-primary" name="file">
                <input type="submit" class="btn btn-success" value="上传">
            </form>
        </div>
      </div>
    </div>
</body>
</html>